  <ion-header>
  <ion-navbar>
    <ion-title>
      {{ name }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-content>

      <ion-list>

        <ion-item>
          <ion-label floating>Name</ion-label>
          <ion-input type="text" [(ngModel)]="name"></ion-input>
        </ion-item>

      </ion-list>
    </ion-card-content>

  </ion-card>

  <ion-card *ngIf="buttons?.length > 0">

    <ion-card-content>

      <ion-list>

        <ion-item *ngFor="let button of buttons">
          {{ button.name }}
          <ion-icon name="remove-circle" item-end (click)="remove(button)"></ion-icon>
        </ion-item>

      </ion-list>

    </ion-card-content>

  </ion-card>

  <ion-card>

    <ion-card-content>

      <ion-list>

        <ion-item>
          <ion-label floating>Name</ion-label>
          <ion-input type="text" [(ngModel)]="buttonName"></ion-input>
        </ion-item>

        <ion-item>
          <button ion-button full (click)="capture()"><ion-icon name="add"></ion-icon>Capture</button>
        </ion-item>
      </ion-list>

    </ion-card-content>

  </ion-card>

  <button ion-button full (click)="save()">Save</button>
</ion-content>
