page-remote {
  ion-content{
    /*background-image: url('http://everwebcodebox.com/trisite/phone/ewExternalFiles/iphone-frame.png');
    background-repeat:no-repeat;
    background-position: center;
    background-size: 55% 65%;*/
  }
}

